header,
nav,
section,
article,
footer {
  background: #659494;
  border-radius: 5px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}
section {
  background: #7ebaba;
}